*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 98%;
    height: auto;
    background: linear-gradient(rgba(196, 196, 230, 0.434),rgba(161, 34, 196, 0.118));
}
hr {
    width: 90%;
    margin: auto;

}
header {
    margin: auto;
}
.section-header {
    width: 60%;
    margin: auto;
    margin-left: 15px;
}
.right-nav {
    display: flex;
    flex-direction: column;
}
a.nav-link,
#user-entry,
#time {
    color:rgb(132, 165, 193);    
    font-weight: bolder;
    letter-spacing: 3px;
    text-decoration: none;
    text-shadow: 2px 2px 2px white;
}
.shop-quantity-input,
.cart-quantity-input {
    width: 3rem;
    margin: 5px 0px;
    padding: 0px 1px;
    font-size: larger;
    text-align: center;
    font-variant: small-caps;
    border-radius: 3px;
    border: 1px solid black;    
}

.shop-container {
    width: 100%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.shop-items {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.shop-item {
    height: auto;
    margin: auto 50px;

}
.shop-item-image {
    width: 120px;
    height: 185px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px;
}

.sale-items {
    width: 80%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.sale-item {
    margin: auto;
}
.sale-item-image {
    width: 120px;
    height: 185px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px;
}
button.carousel-control {
    font-size: 4rem;
    font-stretch: extra-expanded;
    border-radius: 10px 20px 10px 20px;
}
.cart-container {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart-item {
    width: auto;
    display: flex;
}
.cart-item-image,
.cart-description,
.cart-options {
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
}
.cart-description {
    width: 65%;
    margin: auto 5px;
}
.cart-item-image {
    width: 110px;
    height: 165px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px;
}
.cart-total {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 4px white;
    border: 2px double silver;
}
.footer-nav {
    width: auto;
    margin: auto;
    margin-left: 25px;
}
.little-shirt {
    width: 54px;
    height: 85px;
    border-radius: 22%;
    animation: spin 2.9s 0s linear infinite;
}
@keyframes spin {
    0% {
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.365);
    }
    99.5% {
        transform: rotateY(359deg);
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.365);
    };
}

